body{
    margin: 0;padding: 0;
    background-image: url("../images/bbb.jpg");
}
ul,li,a,p,h1,h2,h3,h4,h5{
    list-style: none;
    text-decoration: none;
    padding: 0;margin: 0;
}
*{
    box-sizing: border-box;
}

.screen{
    width: 800px;margin:100px auto;
    border: 3px solid #ccc;
}
.title{
    width: 100%;height: 50px;
    border-radius: 15%/90%;
    border-bottom-color: blue;
    background:teal;
    position: relative;
    z-index: 100;
}
.title .title-t{
    width:12%;line-height: 50px;text-align: center;
    color: #fff;
    background:teal ;
    float: left;
}
.title-t div:hover{
   border: 3px solid #fff;
    cursor: pointer;
}
.title-t li{
    border-bottom: 1px solid #fff;
    text-align: center;background:#eee ;
    -webkit-transition:all .6s ease;
    color: #333;
}
.title-t li:hover{
    cursor: pointer;
    background: teal;color: #fff;
}
.title-t .title-block{
    display: none;
}
li .title:hover{
    -webkit-transition:all .6s ease;
}
.tu{
    position: relative;
}
.line span{
    display: block;
    width: 90%;height:3px;
    background: #000;
    position: absolute;
    top:20px;left: 5px;
}
.rect span{
    display: block;
    width: 90%;height:30px;
    border: 1px solid #000;
    position: absolute;
    top:10px;left: 5px;
}
.circle span{
    display: block;
    width: 40px;height:40px;
    line-height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
    top:5px;left: 25px;
}
.xi span{
    display: block;
    width: 90%;height:3px;
    background: #000;
    position: absolute;
    top:20px;left: 5px;
}
.zhong span{
    display: block;
    width: 90%;height:5px;
    background: #000;
    position: absolute;
    top:20px;left: 5px;
}
.cu span{
    display: block;
    width: 90%;height:10px;
    background: #000;
    position: absolute;
    top:20px;left: 5px;
}
.xiao span{
    display: block;
    width: 10px;height:10px;
    background: #000;
    position: absolute;
    top:20px;left:45%;
}
.m span{
    display: block;
    width: 20px;height:20px;
    background: #000;
    position: absolute;
    top:15px;left:40%;
}
.da span{
    display: block;
    width: 30px;height:30px;
    background: #000;
    position: absolute;
    top:10px;left:35%;
}
.box{
    width: 100%;height: 500px;
    /*border-radius: 15%/90%;*/
    position: relative;
    background: rgba(255,255,255,0.4);
}
.box .copy{
    width: 100%;height: 100%;
    position: absolute;
    left: 0;right:0;z-index: 1;
}
.box .canvas{
    position: absolute;left:0;top:0;
    background: #ccc;
}
.xp{
    position: absolute;
    top:0;left:0;
    width: 8px ;height:8px;
    border:1px solid #000;
}
.selectarea{
    border:1px dotted #000;
    position: absolute;
    left:0;top:0;
    display:none;
}




